#column-container {
    display: flex;
    justify-content: space-evenly;

    .status {
        border-right: 1px solid black;
        height: 100vh;
        text-align: center;

        &:last-child {
            border-right: none;
        }
    }
}